.contact-page {
    /* font-family: Arial, sans-serif; */
    padding: 20px;
  }
  
  /* .info-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .info-card {
    text-align: center;
    background-color: #6e6e6e;
    color: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px;
  }
  
  .info-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .info-card p {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  
  .info-card button {
    background-color: #fff;
    color: #6e6e6e;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .highlight {
    background-color: #ccc;
    color: black;
  }
   */
   .contact-section {
    display: flex;
    justify-content: space-around;
    background-color: #f9f9f9;
    padding: 30px 20px;
    border-radius: 10px;
  }
  
  .contact-card {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-card .icon {
    font-size: 2rem;
    color: #6c63ff;
    margin-bottom: 2px;
  }
  
  .address {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .para {
    font-size: 0.94rem;
    color: #666;
    margin: 5px 0;
  }
  
  .contact-card .off-day {
    color: #6c63ff;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .contact-section {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .contact-card {
      width: 80%;
    }
  }
  
  .contact-form {
    text-align: center;
  }
  
  .contact-form h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .contact-form p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .contact-form form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
  .contact-form button {
    background-color: #6e6e6e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  /* .social-icons i {
    font-size: 1.5rem;
    margin: 0 10px;
    cursor: pointer;
  }
   */